<!-- НИЖНІ БЛОКИ: JOB EXPERIENCE + ПРАВА КОЛОНКА (REFERENCES, EDUCATION окремо) -->
<div class="row rownew">
    <div class="col-lg-8" style="padding-right: 50px; padding-left: 50px;">
        <div class="job-experience-wrapper">
            <div class="card-dark__head">
                <h2 class="section-title card-title_dark">
                    <i class="fa-solid fa-toolbox icons" role="img" style="color: white;"></i>
                    JOB EXPERIENCE
                </h2>
                <button
                        class="toggle-arrow"
                        type="button"
                        data-toggle="section"
                        data-target="experienceContainer"
                        aria-expanded="true"
                >
                    ▾
                </button>
            </div>

            <div class="js-collapsible-body" id="experienceContainer">

            </div>
        </div>
    </div>

    <!-- Права колонка: дві окремі картки -->
    <div class="col-lg-4" style="padding-left: 0; display: flex; flex-direction: column;">
        <section class="card-dark">
            <div class="card-dark__head">
                <h2 class="card-dark__title card-title margtop">
                    <i class="fa-solid fa-people-group icons" role="img"></i>
                    <span class="font-size-h2"> REFERENCES </span>
                </h2>
                <button
                        class="toggle-arrow"
                        type="button"
                        data-toggle="section"
                        data-target="referencesBody"
                        aria-expanded="true"
                >
                    ▾
                </button>
            </div>

            <div class="js-collapsible-body" id="referencesBody">
                <div class="ref">
                    <div class="ref__name margtop">
                        <span class="font-size-p"> DARWIN B. MAGANA </span>
                    </div>
                    <div class="ref__addr bluecoursive">2813 Shobe Lane Mancos, CO</div>
                    <div class="ref__row">Tel: +1-970-533-3339</div>
                    <div class="ref__row">Email: www@yourwebsite.com</div>
                </div>
                <div class="ref">
                    <div class="ref__name margtop">
                        <span class="font-size-p"> ROBERT J. BELVIN </span>
                    </div>
                    <div class="ref__addr bluecoursive">2119 Fairfax Drive Newark, NJ</div>
                    <div class="ref__row">Tel: +1-908-987-5103</div>
                    <div class="ref__row">Email: www@yourwebsite.com</div>
                </div>
            </div>
        </section>

        <section class="card-dark" style="display:flex; flex-direction:column; gap: 20px; flex-grow: 0.75;">
            <div class="card-dark__head">
                <h2 class="card-dark__title card-title">
                    <i class="fa-solid fa-graduation-cap icons" role="img"></i>
                    <span class="font-size-h2"> EDUCATION </span>
                </h2>
                <button
                        class="toggle-arrow"
                        type="button"
                        data-toggle="section"
                        data-target="educationBody"
                        aria-expanded="true"
                >
                    ▾
                </button>
            </div>

            <div class="js-collapsible-body" id="educationBody">
                <div class="edu margtop">
                    <span class="year">2011–2013</span>
                    <div class="edu__body">
                        <div class="edu__org">Stanford University</div>
                        <div class="edu__deg">
                            <span class="font-size-p"> Master Degree </span>
                        </div>
                        <p class="edu__text">
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type.
                        </p>
                    </div>
                </div>

                <div class="edu margtop">
                    <span class="year">2007–2010</span>
                    <div class="edu__body">
                        <div class="edu__org">Chicago University</div>
                        <div class="edu__deg">
                            <span class="font-size-p"> Bachelor Degree </span>
                        </div>
                        <p class="edu__text">
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
