<!-- ШАПКА -->
<div class="row align-items-start">
    <div class="col-lg-8">
        <div class="row g-3 align-items-start" style="margin-top: 30px;">
            <div class="col-auto marg">
                <img src="./img/test.png" class="photo" alt="Фото" />
            </div>
            <div class="col">
                <h1 class="person-name">
                     <span id="personName" class="person-name-js person-name__bold"></span>
                    <span class="person-name__light">WILLIAMS</span>
                </h1>
                <div class="role">Graphic &amp; Web Designer</div>
                <p class="intro ">
                    Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
    </div>

    <!-- CONTACT (окрема темна картка з табом) -->
    <div class="col-lg-4" style="padding-left: 0;">
        <section class="card-dark" style="margin-top: 30px;">
            <h2 class="card-title" >
                <i class="fa-solid fa-person icons" role="img"></i> CONTACT</h2>
            <div class ="contact-item">
                <ul class="contact list-unstyled">
                    <li><i class="fa-solid fa-phone icons"  role="img"></i> <div class = "numbercolum"> <span>+1-718-310-5588 </span> <span>+1-313-981-8867</span> </div></li>
                    <li><i class="fa-solid fa-globe icons"  role="img"></i><div class = "numbercolum"> <span>www.yourwebsite.com </span> <span>yourinfo@email.com</span> </div> </li>
                    <li><i class="fa-solid fa-location-pin icons"  role="img"></i> 769 Prudence Street, Lincoln Park, MI 48146</li>
                </ul>
                <div class="vertical-line"/>
            </div>
        </section>
    </div>
</div>
