@use "../variables/variables" as *;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.px-4 {
  padding-left: 1rem!important;
  padding-right: 1.5rem !important;}

body {
  background: $page;
  color: $ink;
  font-family: "Inter", "Segoe UI", Roboto, Arial, sans-serif;
}
/* Utilities */
.bg-page {
  background: $page;
}
.toggle-arrow {
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  transition: transform 0.2s ease;
}

.js-collapsible-body.is-hidden {
  display: none; // блок зникає, нижні під’їжджають догори
}

.toggle-arrow {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1;
  position: absolute;
  margin-left: 250px;
}

.toggle-arrow--rotated {
  transform: rotate(-90deg);
}
