@use "../variables/variables" as *;
/* резюме */
.resume {
  position: relative; /* потрібне для верхньої смужки */
  background: #fff;
  max-width: 960px;
  margin: 40px auto;
  box-shadow: 0 20px 50px rgba(20, 28, 40, .15);

  /* Верхня синя смужка сторінки */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 14px;
    width: 301px;
    background: rgb(17, 116, 175);
    margin-right: 22.5px;
    box-shadow: 0 6px 14px rgba(31, 111, 222, .25);
  }
}

.bluesmuga {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 14px;
  width: 301px;
  background: rgb(17, 116, 175);
  margin-right: 22.5px;
  box-shadow: 0 6px 14px rgba(31, 111, 222, .25);
}
